@import url('https://use.typekit.net/krp5hcc.css');

* {
  font-family: 'proxima nova', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  max-width: 800px;
  margin: auto;
}

.deegree_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grader {
  font-size: 2rem;
}

.grader_font {
  font-size: 3rem;
}

.bold {
  font-weight: bold;
}

.oversikt_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.vind,
.fuktighet {
  margin-left: 50px;
}
